# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.Python
db.sqlite3


# Django
/staticfiles/
/media/
/local_settings.py

# Logs
*.log
logs/
celerybeat-schedule
*.pid


# Docker
*.pid
*.seed
*.bak
docker-data/
pgdata/
redis-data/

# Env & config (never commit secrets)
.env
.env.*
!.env.example

# IDE / Editors
.vscode/
.idea/
*.swp
.DS_Store
google-auth
google-auth-oauthlib
